/* general styles */
* {
  box-sizing: border-box;
}

:root {
  --primary-color: black;
  --secondary-color: #540B0E;
  --tertiary-color: #335C67;
  --background-color: #f3f1e8;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  padding: 10px 0 5px 10px;
}

p {
  padding-left: 10px;
}

/* header styles */
.header {
  background: linear-gradient(#284952, #548a99);
  padding: 25px 0 25px 0;
  /* display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  align-items: center; */
  color: var(--background-color);
}

.navbar {
  margin: 0 !important;
  padding: 0px !important;
}

.nav-item a {
  color: var(--background-color);
  text-transform: uppercase;
  font-weight: bold;
}

.nav-item a:hover {
  color:#540B0E;
}